# exclude all, except 3 folders
/*
!.gitignore
!scripts_dev_scratch/
!scripts_runs_cluster/
!scripts_runs_localstage/
!scripts_tools/
!spatial/

# then exclude specific folder and file types
output
outputs

.vs
*.sln
*.pyproj

mxd
spatial/seagrass/seagrass_all
spatial/seagrass/seagrass_hakai_archive
spatial/boundaries
spatial/fvcom_results
spatial/model_grids
*.csv
*.xlsx
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx

*.pyc

*.nc