# exclude all, except 3 folders
/*
!.gitignore
!scripts_dev_scratch/
!scripts_runs_localstage/
!scripts_tools/
!spatial/
!Workflow_folderstructure_README.pptx
!README.md

# then exclude specific folder and file types
output
outputs

.vs
*.sln
*.pyproj

mxd
spatial/seagrass/seagrass_all
spatial/seagrass/seagrass_hakai_archive
spatial/boundaries
spatial/fvcom_results
spatial/model_grids
spatial/models
*.csv
*.xlsx
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx
*.png
*.svg

*.pyc

*.nc

*.code-workspace
*settings.json

scripts_dev_scratch/distance_analysis/distance_analysis_mapping
scripts_dev_scratch/distance_analysis/info
