# exclude all, except 3 folders
/*
!.gitignore
!scripts_dev_scratch/
!scripts_runs/
!scripts_tools/

# then exclude specific folder and file types
output
outputs

.vs
*.sln
*.pyproj

mxd
spatial
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx

*.pyc

*.nc